<div>  
    <h2>Libros con valoración mayor a 1500</h2>
    <ul>
        <li>Título: "Python Avanzado", Valoración: 1700</li>
        <li>Título: "Desarrollo Web con Django", Valoración: 1600</li>
        <li>Título: "Bases de Datos SQL", Valoración: 1550</li>
        <li>Título: "Inteligencia Artificial con Python", Valoración: 1650</li>
        <li>Título: "Algoritmos y Estructuras de Datos", Valoración: 1800</li>
    </ul>
    
    <!-- Título de lista de todos los libros -->
    <h2>Lista de todos los libros</h2>
    <ul>
        <li>Título: "Python Avanzado"</li>
        <li>Título: "Desarrollo Web con Django"</li>
        <li>Título: "Bases de Datos SQL"</li>
        <li>Título: "Inteligencia Artificial con Python"</li>
        <li>Título: "Algoritmos y Estructuras de Datos"</li>
        <li>Título: "Introducción a la Programación"</li>
        <li>Título: "Machine Learning Básico"</li>
        <li>Título: "Desarrollo de Apps Móviles"</li>
        <li>Título: "Fundamentos de Redes de Computadoras"</li>
    </ul>    



</div> 